
<script src="/javascript/results.js"></script>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Roadlette</a>
      <a class="navbar-brand" id="destination" href="#codeword">Pack your bags! You're going to <%= @cityname %>!</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
          <%if current_user%>
              <li><a href="#">Hello <%= current_user.name %>!</a></li>
            <%end%>
          <li><a href="/users/signup">Signup</a></li>
          <% if current_user %>
            <li><a href="/users/signout">Signout</a></li>
            <% else %>
          <li><a href="/users/signin">Signin</a></li>
          <% end %>
      </ul>
      </ul>
    </div>
  </div>
</nav>

  <div id="loader">
    <svg xmlns="http://www.w3.org/2000/svg" 
       width="80px" height="60px"
       viewBox="5 0 80 60">
      <path id="wave" 
          fill="none" 
          stroke="#262626" 
          stroke-width="4"
          stroke-linecap="round">
      </path>
    </svg>
    <br></br>
  </div>

<div id="google_holding">

<container id='your-page'>
  <iframe id='googlemaps'
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAPV0_sCF_Qe5jsKsHd5DCfVC1c3yI3MLc
    &origin=<%=@lat1%>,<%=@long1%>
    &destination=<%=@cityname%>,+<%=@province%>
    &mode=driving" allowfullscreen>
  </iframe></div>


<div class="reroll">                                
<!--   <form class="control-label" method="post" action="/results/index?travel_distance=<%=@travel_distance%>" for="inputSuccess"> -->
  <form class="control-label" method="post" action="/results/index?travel_distance=<%=@travel_distance%>" for="inputSuccess">
      <div>
        </br> 
        <input type="Submit" class="btn btn-success" value="ReRoad">
      </div>
    </form>  
</div>

</br>


<% request = Net::HTTP.get(URI.parse("https://api.flickr.com/services/rest/?method=flickr.photos.search&format=json&nojsoncallback=1&api_key=cc0b1f8c6cf46f727c29ebfa96d3383c&tags=#{@city_name}"))
    # response = JSON.parse(@request)["photos"]["photo"][0]["farm"]
    id=[]
    secret=[]
    server=[]
    farm=[]
    for i in 0..5
      # id = JSON.parse(request)["photos"]["photo"][2]["id"]
      # secret = JSON.parse(request)["photos"]["photo"][2]["secret"]
      # server = JSON.parse(request)["photos"]["photo"][2]["server"]
      # farm = JSON.parse(request)["photos"]["photo"][2]["farm"]
      id << JSON.parse(request)["photos"]["photo"][i]["id"]
      secret << JSON.parse(request)["photos"]["photo"][i]["secret"]
      server << JSON.parse(request)["photos"]["photo"][i]["server"]
      farm << JSON.parse(request)["photos"]["photo"][i]["farm"]
    end
    %>

<table align = "center">
<tr>
<td>
<div>
  <input type="checkbox" id="check" style="display:none;">
  <label for="check">
      <img src="http://farm<%=farm[0]%>.static.flickr.com/<%=server[0]%>/<%=id[0]%>_<%=secret[0]%>.jpg" width="150" height="150">
      </label>
  <label for="check">
      <div id="cover">
      <div id="box">
      <img src="http://farm<%=farm[0]%>.static.flickr.com/<%=server[0]%>/<%=id[0]%>_<%=secret[0]%>.jpg" width="500" height="500">
      </div>
      </div>
      </label>
</div>
</td>

<td>
<div>
  <input type="checkbox" id="check1" style="display:none;">
  <label for="check1">
      <img src="http://farm<%=farm[1]%>.static.flickr.com/<%=server[1]%>/<%=id[1]%>_<%=secret[1]%>.jpg" width="150" height="150">
      </label>
  <label for="check1">
      <div id="cover1">
      <div id="box1">
      <img src="http://farm<%=farm[1]%>.static.flickr.com/<%=server[1]%>/<%=id[1]%>_<%=secret[1]%>.jpg" width="500" height="500">
      </div>
      </div>
      </label>
</div>
</td>
<td>
<div>
  <input type="checkbox" id="check2" style="display:none;">
  <label for="check2">
      <img src="http://farm<%=farm[2]%>.static.flickr.com/<%=server[2]%>/<%=id[2]%>_<%=secret[2]%>.jpg" width="150" height="150">
      </label>
  <label for="check2">
      <div id="cover2">
      <div id="box2">
      <img src="http://farm<%=farm[2]%>.static.flickr.com/<%=server[2]%>/<%=id[2]%>_<%=secret[2]%>.jpg" width="500" height="500">
      </div>
      </div>
      </label>
</div>
</td>
<td>
<div>
  <input type="checkbox" id="check3" style="display:none;">
  <label for="check3">
      <img src="http://farm<%=farm[3]%>.static.flickr.com/<%=server[3]%>/<%=id[3]%>_<%=secret[3]%>.jpg" width="150" height="150">
      </label>
  <label for="check3">
      <div id="cover3">
      <div id="box3">
      <img src="http://farm<%=farm[3]%>.static.flickr.com/<%=server[3]%>/<%=id[3]%>_<%=secret[3]%>.jpg" width="500" height="500">
      </div>
      </div>
      </label>
</div>
<td>
<div>
  <input type="checkbox" id="check4" style="display:none;">
  <label for="check4">
      <img src="http://farm<%=farm[4]%>.static.flickr.com/<%=server[4]%>/<%=id[4]%>_<%=secret[4]%>.jpg" width="150" height="150">
      </label>
  <label for="check4">
      <div id="cover4">
      <div id="box4">
      <img src="http://farm<%=farm[4]%>.static.flickr.com/<%=server[4]%>/<%=id[4]%>_<%=secret[4]%>.jpg" width="500" height="500">
      </div>
      </div>
      </label>
</div>
</td>
<td>
<div>
  <input type="checkbox" id="check5" style="display:none;">
  <label for="check5">
      <img src="http://farm<%=farm[5]%>.static.flickr.com/<%=server[5]%>/<%=id[5]%>_<%=secret[5]%>.jpg" width="150" height="150">
      </label>
  <label for="check5">
      <div id="cover5">
      <div id="box5">
      <img src="http://farm<%=farm[5]%>.static.flickr.com/<%=server[5]%>/<%=id[5]%>_<%=secret[5]%>.jpg" width="500" height="500">
      </div>
      </div>
      </label>
</div>
</td>
</tr>
</table>

 
  

<div id="google_holding">
  <iframe id='googlemaps'
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyAPV0_sCF_Qe5jsKsHd5DCfVC1c3yI3MLc
  &location=<%=@street_view_lat%>,<%=@street_view_long%>" allowfullscreen>
  </iframe>
</br>

</div>

<div class="jumbotron">
  <div class="container">
  <a NAME="codeword"></a>
    <h1>Random Facts:</h1>
    <h1><%= @city_name %></h1>

    <div class="row">
        <div class="col-md-12">
            <% if @wiki_link.nil?%>
                <img style='float:left;width:200px;height:200px; margin-right:10px;' src=<%= @wiki_img %> />
            <% else %>
              <a target="_blank" href=<%= @wiki_link %>>
                <img style='float:left;width:200px;height:200px; margin-right:10px;' src=<%= @wiki_img %> />
              </a>
            <% end %>
            <p><%= @wiki_paragraph %></p>
        </div>
    </div>
</div>

</container>